<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Profil kursanta</title>
</head>
<style>
    body{
        margin:0;
        width:100%;
    }

    .container{
        margin-bottom:30px;
    }

	form{
		line-height:40px;
	}



</style>
<body>

<h2>Moje dane </h2>

<div class="container">
    <div>Imie</div><textarea th:text="${user.name}" type="textarea"></textarea>
    <div>Nazwisko</div><textarea th:text="${user.lastname}" type="textarea"></textarea>
    <div>Adres e-mail</div><textarea th:text="${user.email}" type="textarea"></textarea>

    <div>GitHub login</div><textarea th:text="${user.GitHubLogin}"   type="textarea"></textarea>
    <div>Telefon</div><textarea th:text="${user.telephone}" type="textarea"></textarea>
</div>

<form>

    <div>Ocena SQL:  <textarea  type="text"></textarea></div>
    <textarea style="width:300px; height:20px;" type="textarea"></textarea>

    <div>Ocena JAVA: <textarea type="text"></textarea></div>
    <textarea style="width:300px; height:20px;" type="textarea"></textarea>

    <div>Ocena PYTHON: <textarea type="text"></textarea></div>
    <textarea style="width:300px; height:20px; "type="textarea"></textarea>

    <div>Ocena SPRING: <textarea type="text"></textarea></div>
    <textarea style="width:300px; height:20px;" type="textarea"></textarea>

    <div>
        <button type="submit" name="Zapisz" alt="zapisz">Aktualizuj Dane Osobowe</button>
    </div>

</form>

</body>
</html>