<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Profil kursanta</title>
</head>
<style>
    body{
        margin:0;
        width:100%;
    }

    .container{
        margin-bottom:30px;
    }

	form{
		line-height:40px;
	}



</style>
<body>

<h2>Moje dane </h2>

<div class="container">
    <div>Imie</div><textarea th:text="${user.name}" type="textarea"></textarea>
    <div>Nazwisko</div><textarea th:text="${user.lastname}" type="textarea"></textarea>
    <div>Adres e-mail</div><textarea th:text="${user.email}" type="textarea"></textarea>

    <div>GitHub login</div><textarea th:text="${user.GitHubLogin}"   type="textarea"></textarea>
    <div>Telefon</div><textarea th:text="${user.telephone}" type="textarea"></textarea>
</div>

<form>

    <div>Ocena SQL: <textarea type="text" th:if="${user.getSqlOcena()}" th:text="${user.getSqlOcena()}"></textarea>
        <textarea type="text" th:unless="${user.getSqlOcena()}" th:text="'b/d'"></textarea>
    </div>
    <textarea th:if="${user.getSqlOpis()}" th:text="${user.getSqlOpis()}" style="width:300px; height:20px; "type="textarea"></textarea>
    <textarea type="text" th:unless="${user.getSqlOpis()}" th:text="'brak oceny opisowej'"></textarea>

    <div>Ocena JAVA: <textarea type="text" th:if="${user.getJavaOcena()}" th:text="${user.getJavaOcena()}"></textarea>
        <textarea type="text" th:unless="${user.getJavaOcena()}" th:text="'b/d'"></textarea>
    </div>
    <textarea th:if="${user.getJavaOpis()}" th:text="${user.getJavaOpis()}" style="width:300px; height:20px; "type="textarea"></textarea>
    <textarea type="text" th:unless="${user.getJavaOpis()}" th:text="'brak oceny opisowej'"></textarea>

    <div>Ocena PYTHON: <textarea type="text" th:if="${user.getPyOcena()}" th:text="${user.getPyOcena()}"></textarea>
        <textarea type="text" th:unless="${user.getPyOcena()}" th:text="'b/d'"></textarea>
    </div>
    <textarea th:if="${user.getPyOpis()}" th:text="${user.getPyOpis()}" style="width:300px; height:20px; "type="textarea"></textarea>
    <textarea type="text" th:unless="${user.getPyOpis()}" th:text="'brak oceny opisowej'"></textarea>

    <div>Ocena SPRING: <textarea type="text" th:if="${user.getSpringOcena()}" th:text="${user.getSpringOcena()}"></textarea>
        <textarea type="text" th:unless="${user.getSpringOcena()}" th:text="'b/d'"></textarea>
    </div>
    <textarea th:if="${user.getSpringOpis()}" th:text="${user.getSpringOpis()}" style="width:300px; height:20px; "type="textarea"></textarea>
    <textarea type="text" th:unless="${user.getSpringOpis()}" th:text="'brak oceny opisowej'"></textarea>

    <div>
        <button type="submit" name="Zapisz" alt="zapisz">Aktualizuj Dane Osobowe</button>
    </div>

</form>

</body>
</html>