<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>
<div></div>

<form th:method="post" th:action="@{/register}" class="registerForm" th:object="${registerForm}">
    <label>Imie
        <input th:field="*{name}" type="text" name="imie" alt="imie" placeholder="podaj imie">
    </label><br>


    <label>Nazwisko
        <input th:field="*{lastName}" type="text" name="imie" alt="imie" placeholder="podaj nazwsiko">
    </label><br>

    <label>Adres e-mail
        <input th:field="*{email}" type="email" name="email" alt="email" placeholder="podaj email">
    </label><br>

    <label>Hasło
        <input th:field="*{password}" type="text" name="password" alt="password" placeholder="podaj password">
    </label><br>
    <label>Powtórz Hasło
        <input th:field="*{password2}" type="text" name="password" alt="password" placeholder="podaj password">
    </label><br>

    <label>GitHubLogin
        <input th:field="*{gitHubLogin}" type="text" name="logingithub" alt="logingithub" placeholder="podaj GitHubLogin">
    </label><br>

    <label>Telefon
        <input th:field="*{telephone}" type="text" name="telefon" alt="telefon" placeholder="podaj numer telefonu">
    </label><br>

        <input type="submit" value="ZAREJESTRUJ MOJE DANE">
</form>


</body>
</html>